main {
    width: 100%;
    background-color: darkslategrey;
    height: 93vh;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    padding: 50px; 
}

#ops {
    height: 60vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    align-items: left;
    background-color: coral;
    border-radius: 35px;
    padding: 35px;
    text-align: left;
}
#ops .row {
    text-align: left;
}

#imgs {
    height: 80vh;
    width: 85vh;
    background-color: steelblue;
    border-radius: 35px;
    padding: 35px;
}

#sw {
    width: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#boton{
    width: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#flexrow {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;    
    align-items: center;
    overflow-y: auto;
    max-height: 65vh;


}

.foto {
    width: 100px;
    height: 100px;
    padding: 5px;

}

img {
    width: 100px;
    height: 100px;
}